name: ESLint & Prettier

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: npm install
      - run: eslint --fix --ext .js,.vue src
      - run: prettier . --check